*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: #ECF9FF;
}

.text{
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    border: solid thin #aaa;
}

.button{
    padding: 10px;
    width: 100px;
    color: white;
    background: lightblue;
    border: none;
}

#box{
    background: gray;
    margin: auto;
    width: 300px;
    padding: 20px;
    padding-right: 20px;
}

.LoginTitle{
    font-size: 20px;
    margin: 10px;
}

.LogoutButton{
    color: black;
    text-decoration: none;
}

.LogoutButton:hover{
    color: #aaa;
}

.logout{
    position: absolute;
    display: none;
}

.buttonBox, .logout{ 
    height: 10rem;
    width: 20rem;    
    padding: 30px;    
    background: #FFE7CC;    
    font-family: sans-serif; 
    align-items: center;
    justify-content: center;   
}

.buttonBox{
    display: flex;
}

#button{

    border: none;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    background: #FFE7CC;
}

#button:hover{
    cursor: pointer;
    color: #aaa;
}

header{
    background: #FFFBEB;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    align-items: center;
    font-size: 200%;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-size: 500%;
}